{%extends 'base.html'%}

{%block body%}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

      <div class="container">
        <div class="header clearfix">
          <nav>
            <h4 class="nav masthead-brand pull-xs-left">
              <a class="nav-link" href="/">swkbrooks</a>
            </h4>
            <nav class="nav nav-masthead pull-xs-right">
                <a class="nav-link active" href="/about">About </a>
                <a class="nav-link" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
          </nav>
      </div>

      <div class="inner">

        <h1 class="title-head">Hello!</h1>
          <p class="about-p">
            I'm a third-year student at Oberlin College studying neuroscience, hopefully with minors in computer science and chemistry. I also work in the admissions department as a tour guide and as an RA in East Hall. After I graduate I plan on working as a research assistant, EMT, or living in the woods for a year before attending medical school.
          </p>
          <p class="about-p">
            When I'm not studying or working I write <a class="highlight" href="/music">electronic music</a>, play frisbee, and take <a class="highlight" href="/photography">pictures</a>.
          </p>
          <p class="about-p">
            For now this is mainly a fun project I've undertaken to learn more about web development. It will probably be a relatively empty, but as I add more to my resume, it will grow into a collection of what I've done as a student, scientist, and artist.
          </p>
          <p class="about-p">
            Thanks for looking!
          </p>

      </div>

      <div class="footer-padding">
        <a> </a>
      </div>

        <div class="footer footer-block">
        <!-- <div class="footer-block"> -->
          <a> </a>
        <!-- </div> -->
          <div class="inner">
            <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            <a class="link-social col-sm-3" href="http://instagram.com/swkbrooks">
              <i class="social fa fa-instagram fa-2x"></i>
            </a>

            <a class="link-social col-sm-3" href="http://soundcloud.com/strotifiler">
              <i class="social fa fa-soundcloud fa-2x" aria-hidden="true"></i>
            </a>

            <a class="link-social col-sm-3" href="http://github.com/swkbrooks">
              <i class="social fa fa-github fa-2x"></i>
            </a>

            <a class="link-social col-sm-3" href="https://www.linkedin.com/in/sawyer-brooks-6819b8b2">
              <i class="social fa fa-linkedin fa-2x"></i>
            </a>
          </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


{%endblock%}