{%extends 'base.html'%}

{%block body%}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <a class="nav-link" href="/">swkbrooks</a>
            </h3>
            <nav class="nav nav-masthead">
              <a class="nav-link active" href="/about">About</a>
              <a class="nav-link" href="/resume">Resume</a>
              <a class="nav-link" href="/contact">Contact</a>
            </nav>
          </div>
        </div>

        <div class="inner cover">
        <h1 class='spacer'> </h1>
            <h1 class="about-head">Hello!</h1>
            <p class="about-p">
              I'm a third-year student at Oberlin College studying neuroscience, hopefully with minors in computer science and chemistry. I also work in the admissions department as a tour guide and as an RA in East Hall. After I graduate I plan on working as a research assistant, EMT, or living in the woods for a year before attending medical school.
            </p>
            <p class="about-p">
              When I'm not studying or working I write <a href="/music">electronic music</a>, play frisbee, and take <a href="/photography">pictures</a>.
            </p>
            <p class="about-p">
              For now this is mainly a fun project I've undertaken to learn more about web development. It will probably be a relatively empty, but as I add more to my resume, it will grow into a collection of what I've done as a student, scientist, and artist. The site is based off the bootstrap cover template by <a href="http://twitter.com/mdo">@mdo</a>.
            </p>
            <p class="about-p">
              Thanks for looking, I hope you enjoy the site!
            </p>
          <h1 class='spacer'> </h1>

        </div>

        <div class="mastfoot">
          <div class="inner">
            <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            <a class="link-social" href="http://instagram.com/swkbrooks">
              <i class="social fa fa-instagram fa-2x"></i>
            </a>

            <a class="link-social" href="http://github.com/swkbrooks">
              <i class="social fa fa-github fa-2x"></i>
            </a>

            <a class="link-social" href="https://www.linkedin.com/in/sawyer-brooks-6819b8b2">
              <i class="social fa fa-linkedin fa-2x"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}