{%extends 'base.html'%}

{%block body%}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <a class="nav-link active" href="/">swkbrooks</a>
            </h3>
            <nav class="nav nav-masthead">
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/resume">Resume</a>
              <a class="nav-link" href="/contact">Contact</a>
            </nav>
          </div>
        </div>
        
        <div class="inner cover">
            <p class="lead col-sm-4">
              <a href="/sciences" class="btn btn-lg btn-secondary">Sciences</a>
            </p>
            <p class="lead col-sm-4">
              <a href="/music" class="btn btn-lg btn-secondary">Music</a>
            </p>
            <p class="lead col-sm-4">
              <a href="/photography" class="btn btn-lg btn-secondary">Photography</a>
            </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            <a class="link-social" href="http://instagram.com/swkbrooks">
              <i class="social fa fa-instagram fa-2x"></i>
            </a>

            <a class="link-social" href="http://github.com/swkbrooks">
              <i class="social fa fa-github fa-2x"></i>
            </a>

            <a class="link-social" href="https://www.linkedin.com/in/sawyer-brooks-6819b8b2">
              <i class="social fa fa-linkedin fa-2x"></i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}