{%extends 'base.html'%}

{%block body%}

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

      <div class="container">
        <div class="header clearfix">
          <nav>
            <h4 class="nav masthead-brand pull-xs-left">
              <a class="nav-link active" href="/">swkbrooks</a>
            </h4>
            <nav class="nav nav-masthead pull-xs-right">
                <a class="nav-link" href="/about">About </a>
                <a class="nav-link" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
          </nav>
      </div>

      <!-- <div class="jumbotron"> -->
      <div class="index-body">
        <h2 class="name">Sawyer Brooks</h2>

        <div class="inner cover">
          <p class="lead col-sm-4">
            <!-- <a href="/sciences" class="btn btn-lg btn-secondary">Sciences</a> -->
            <a href="/sciences" class="nav-link body-link">Sciences</a>
          </p>
          <p class="lead col-sm-4">
            <a href="/music" class="nav-link body-link">Music</a>
          </p>
          <p class="lead col-sm-4">
            <a href="/photography" class="nav-link body-link">Photography</a>
          </p>
        </div>
      </div>

      <div class="index-padding">
        <a> </a>
      </div>

        <div class="footer footer-block">
          <a> </a>
          <div class="inner">
            <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            <a class="link-social col-sm-3" href="http://instagram.com/swkbrooks">
              <i class="social fa fa-instagram fa-2x"></i>
            </a>

            <a class="link-social col-sm-3" href="http://soundcloud.com/strotifiler">
              <i class="social fa fa-soundcloud fa-2x" aria-hidden="true"></i>
            </a>

            <a class="link-social col-sm-3" href="http://github.com/swkbrooks">
              <i class="social fa fa-github fa-2x"></i>
            </a>

            <a class="link-social col-sm-3" href="https://www.linkedin.com/in/sawyer-brooks-6819b8b2">
              <i class="social fa fa-linkedin fa-2x"></i>
            </a>
          </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}